.skills{
    margin-top:30px;
}
.skills h2{
    color:white;
}
.underline{
    width:70px;
    height:4px;
    background:#00ff99;
    margin:10px 0 25px;
}
.skill-box{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}
.card{
    background:rgba(27,27,27,0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height:110px;
    border-radius:12px;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:.3s;
    cursor:pointer;
}
.card:hover{
    transform:translateY(-10px);
    border:1px solid #00ff99;
}
.icon{
    font-size:55px;
}
.html{
    color:#E44D26;
}
.css{
    color:#1572B6;
}
.js{
    color:#F7DF1E;
}
.react{
    color:#61DAFB;
}
.tailwind{
    color:#38BDF8;
}
.figma{
    color:#F24E1E;
}



body.light-theme .skills h2{
    color:#111;
}

body.light-theme .underline{
    background:#00c853;
}

body.light-theme .card{
    background:rgba(255,255,255,0.7);
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

body.light-theme .card:hover{
    border:1px solid #00c853;
    box-shadow:0 0 15px rgba(0,200,83,0.4);
}

@media (max-width: 1024px){
  .skill-box{
    grid-template-columns:repeat(3,1fr);
    gap:16px;
  }
  .card{
    height:95px;
  }
  .icon{
    font-size:46px;
  }
}

@media (max-width:768px){
  .skill-box{
    grid-template-columns:repeat(2,1fr);
  }
}

@media (max-width:480px){
  .card{
    height:80px;
  }
  .icon{
    font-size:36px;
  }
}